<ul>
<% @todos.each do |todo| %>
  <li><a href="/todos/<%= todo.id %>"><%= todo.title %></a></li>
<% end %>
</ul>

<form method="GET" action="/todos/new">
  <input type="submit" value="Create a new todo">
</form>

